<div class="image-container">
    <div class="overlay-text">
        <span class="cat-links">
            <a href="https://travelblog.physcode.com/category/photography/" rel="category tag">Photography</a>
        </span>
        <h2>
            <a href="https://travelblog.physcode.com/worlds-hottest-destinations-for-vegans/" 
               title="World’s hottest destinations for vegans">
               World’s hottest destinations for vegans
            </a>
        </h2>
    </div>
</div>

                        